.nav-drawer {
  background-color: #343a40;
  height: 100vh;
}

.nav-drawer .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  padding: 8px 22.8px;
  border-bottom: solid 1px var(--dark);
}

.nav-drawer .logo-box .logo {
  width: 26px;
  height: 26px;
  margin-right: 6.4px;
}

.nav-drawer .logo-box .title {
  transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
  color: #c2c7d0;
  font-family: 'Source Sans 3';
  font-size: .875rem;
}