.appbar-title{
    padding: 1rem;
}

.profile-page{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 1fr;
    background-color: #fff;
    border-radius: 12px;
}

aside.actions__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    row-gap: 1.2rem;
    border-right: 1px solid #DFE6EC;
}

aside.content__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.2rem;
}
aside.actions__section > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    color: #2772F0;
    padding: .7rem .7rem;
    font-weight: 600;
    gap: .5rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

aside.actions__section > div:hover {
    background-color: rgba(39, 114, 240, 0.10);
}

.content__section header{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1.2rem 1.3rem;
    border-bottom: 1px solid #DFE6EC;
}

aside.content__section .content__section__body{
    padding: 1.2rem 1.3rem;
}

.content__section__body .user__profile{
    border-radius: 12px;
    background: #F7F9FC;
}

section.content__section__body .user__profile {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    column-gap: 1.2rem;
}

section.content__section__body .user__profile .user__profile__image {
    width: 4rem;
    height: 4rem;
}

section.content__section__body .user__profile .user__profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.content__section__body .user__profile .user__profile__content {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

section.content__section__body .user__profile .user__profile__content .user__profile__content__email {
    font-weight: 400;
    color: #6978A0;
}

section.content__section__body .user__profile .user__profile__content .user__profile__content__name {
    font-weight: 600;
}

.content__section__body form{
   margin-top: 3rem;
}


.content__section__body form .form__sections{
    display: flex;
    flex-direction: row;
    row-gap: 1.2rem;
    justify-content: space-between;
    column-gap: 1.2rem;
}

.content__section__body form .form__sections .form-group-input,
.content__section__body form .form__sections .form-group-input .react-tel-input input {
    width: 100%;
}

