.reset-password-page .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 40px 0 40px;
}

.reset-password-page .logo-box .logo {
  height: 24px;
  margin-right: 6.4px;
}

.reset-password-page .reset-password-form {
  padding: 20px;
}

.reset-password-page .reset-password-form .form-label {
  padding: 0 20px 20px;
}

.reset-password-page .reset-password-form .spacer {
  height: 16px;
}

.otp-input2 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 55px !important;
  height: 55px !important;
  text-align: center;
  border-radius: 20% !important;
  margin-top: 1.5rem !important;
  margin-bottom: 2.5rem !important;
  font-size: calc(1.35rem + 1.2vw) !important;
  font-size: calc(1.35rem + 1.2vw) !important;
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  border: 1px solid #28a745;
  color: #141313 !important;
  transition: #28a745 0.2s ease !important;
  background-color: #dee2e6 !important;
  border-color: transparent !important;
}

.otp-input2::-webkit-outer-spin-button,
.otp-input2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
