.reset-password-page .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 40px 0 40px;
}

.reset-password-page .logo-box .logo {
  height: 24px;
  margin-right: 6.4px;
}

.reset-password-page .reset-password-form {
  padding: 20px;
}

.reset-password-page .reset-password-form .form-label {
  padding: 0 20px 20px;
}

.reset-password-page .reset-password-form .spacer {
  height: 16px;
}