.all-orders {
  width: 100%;
  height: 100%;
  padding: 8px 26px;
}

.all-orders .header-container {
  padding: 12px 0;
}

.all-orders .header-container .subroute-header {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--header-color);
}

.all-orders .orders-content .order-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  list-style-type: none;
}

.all-orders .orders-content .order-tabs .tab {}