.input-group-alt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: solid 1px rgb(206, 212, 218);
  border-radius: .25rem;
  margin-bottom: 16px;
  padding: 0 12px 0 0;
}

.input-group-alt .input-group-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 6px 12px;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.input-group-alt .input-group-input::placeholder,
.input-group-alt .input-group-input::-moz-placeholder,
.input-group-alt .input-group-input::-webkit-input-placeholder {
  color: #939ba2;
}

.input-group-alt .input-suffix-icon {
  padding: 0;
  padding-top: 4px;
  height: fit-content;
}
