@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-main: #c2c7d0;
  --grey-dark: #495057;
  --page-bg: #e9ecef;
  --header-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
