.login-page .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 40px 0 40px;
}

.login-page .logo-box .logo {
  height: 24px;
  margin-right: 6.4px;
}

.login-page .login-form {
  padding: 20px;
}

.login-page .login-form .form-label {
  padding: 0 20px 20px;
}

.login-page .login-form .select-group {
  width: 100%;
  border: solid 1px rgb(206, 212, 218);
  border-radius: .25rem;
  margin-bottom: 16px;
  padding: 6px 12px 6px 0;
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login-page .login-form .select-group .select {
  flex-grow: 1;
  width: 100%;
}

.login-page .login-form .t-and-c {
  text-align: start;
  margin-bottom: 16px;
}

.login-page .login-form .t-and-c .checkbox {
  margin-right: 4px;
}

.login-page .login-form .checkbox-label {
  color: #666;
  font-size: 1rem;
  line-height: 1.5rem;
}

.login-page .login-form .checkbox-label a {
  text-decoration: none;
  color: #007bff;
  font-weight: 700;
}

.login-page .login-form .alternate-auth {
  margin-top: 16px;
  text-align: start;
  color: #666;
  font-size: 1rem;
  line-height: 1.5rem;
}

.login-page .login-form .alternate-auth button {
  border: none;
  background-color: transparent;
  margin-left: 4px;
  cursor: pointer;
  color: #007bff;
  font-weight: 700;
}

.login-page .login-form .forgot-password-wrap {
  width: 100%;
  text-align: end;
  margin-bottom: 20px;
}

.login-page .login-form .forgot-password-wrap .forgot-password {
  border: none;
  background-color: transparent;
  line-height: 1.5rem;
  color: #007bff;
  font-weight: 700;
}