.custom-select-field {
  width: 100%;
  border: solid 1px rgb(206, 212, 218);
  border-radius: .25rem;
  padding: 5px 12px;
  position: relative;
  margin-bottom: 16px;
}

.custom-select-field .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.custom-select-field .head .select-btn {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #939ba2;
  text-align: start;
}

.custom-select-field .head .select-btn.selected {
  color: #495057;
}

.custom-select-field .head .icon-wrap {
  padding-top: 4px;
  transition: all .3s;
}

.custom-select-field .head .icon-wrap.is-open {
  transform: rotate(180deg);
}

.custom-select-field .dropdown {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: white;
  border: solid 1px rgb(206, 212, 218);
}

.custom-select-field .dropdown .option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom-select-field .dropdown .option-list .option-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #939ba2;
  text-align: start;
  height: 40px;
  padding: 12px;
  z-index: 1;
  cursor: pointer;
}

.custom-select-field .dropdown .option-list .option-btn:hover {
  background-color: #E9ECEF;
}